/* Add CSS Styling */
.odd {
    background-color: rgb(251, 145, 210);
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

.multiple {
    font-size: 24px;
}

#even {
    color: hsl(240, 89%, 48%); font-size: 36px;
}

#common {
    background-color:lightgreen; font-size: 24px; font-weight: bold;
}