/* Add CSS Styling */

.first,
.second {
    font-size: 28px; 
    font-family: Helvetica, "Times New Roman", sans-serif;
}

.first {
    background-color: hwb(0 0% 100%);
    color: #ffffff;
}

.second {
    background-color: rgb(255, 255, 0);
}